.modal-mask {
    background-color: #fff6f79e;
    width: 100%;
    height: 380px;
    position: fixed;
    top: 225px;
    text-align: center;
    padding-top: 18px;
    z-index: 10;
}

.modal {
    background-color: #FFB88F;
    /* height: 260px; */
    width: 256px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

.name-area {
    width: 180px;
    margin: 10px auto 40px;
    background-color: #FFD6BF;
    font-size: 19px;
    padding: 25px;
    border-radius: 15px;
    text-align: left;
}

.name-area input {
    border: none;
    height: 25px;
    padding: 5px;
    margin-top: 10px;
    width: 170px;
}

.start-button, .scores-button {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 27px;
    display: inline-block;
}

.start-button:hover, .scores-button:hover {
    background: #ff843c;
}

.start-button {
    color: black;
    background-color: #FF9052;
    text-transform: uppercase;    
    font-size: 26px;
    padding: 14px 30px;
    letter-spacing: 1px;
}

.scores-button {
    color: rgba(0, 0, 0, 0.854);
    background-color: #ff9452a3;
    text-transform: capitalize;
    font-size: 18px;
    padding: 12px 25px;
}