.start-button {
    color: black;
    background-color: #FF9052;
    text-transform: uppercase;
    border: none;
    font-size: 26px;
    padding: 14px 30px;
    border-radius: 12px;
    letter-spacing: 1px;
}