@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #3F3951;
  font-weight: 700;
}

body {
  background-color: #FFF6F7;
  text-align: center;
}

.header{
  height: 102px;
  background-color: #C7BEE2;
  padding: 34px;
}
.header-title {
  background-color: #EEEDFF;
  height: 105px;
  width: 335px;
  border-radius: 15px;
  margin: 0 auto;
}
.header-title h1 {
  padding-top: 16px;
  font-size: 36px;
}
.header-title p {
  font-size: 19px;
  padding-top: 7px;
  padding-bottom: 14px;
}

.score-info {
  padding-top: 25px;
  height: 35px;
  font-size: 19px;
}

.game-board {
  height: 380px;
  padding: 10px;
}

.game-button {
  width: 160px;
  height: 160px;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.game-button:disabled, .game-button[disabled] {
  cursor: unset;
}

.yellow {
  background-color: #EAC606;
}
.blue {
  background-color: #2185CB;
}
.green {
  background-color: #29B64C;
}
.red {
  background-color: #E82A68;
}

.pointer {
  cursor: pointer;
}

.opacity {
  opacity: 0.5;
}