body {
  background-color: #FFF6F7;
  text-align: center;
  padding: 20px;
}

.game-board {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.color-button {
  width: 180px;
  height: 180px;
  margin: 10px;
  border: none;
  outline: none;
  /* cursor: pointer; */
}

.yellow {
  background-color: #EAC606;
}
.blue {
  background-color: #2185CB;
}
.green {
  background-color: #29B64C;
}
.red {
  background-color: #E82A68;
}

.pointer {
  cursor: pointer;
}

.opacity {
  opacity: 0.5;
}